openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Presidential Transcripts API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Presidential Transcripts
  description: Access the real-time presidential transcript feed delivering primary-source transcripts of presidential communications.
paths:
  /policynote/v1/transcripts:
    get:
      operationId: listPresidentialTranscripts
      summary: FiscalNote List presidential transcripts
      description: Returns a paginated list of presidential transcripts including executive orders, proclamations, press statements, and public remarks. This feed delivers primary-source, verified transcripts purpose-built for programmatic consumption to eliminate AI hallucinations.
      tags:
      - Presidential Transcripts
      parameters:
      - name: type
        in: query
        required: false
        description: Filter by transcript type such as executive_order, proclamation, press_statement, or public_remarks.
        schema:
          type: string
          enum:
          - executive_order
          - proclamation
          - press_statement
          - public_remarks
          - interview
          - formal_event
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/updatedSinceParam'
      - name: dateFrom
        in: query
        required: false
        description: Filter transcripts from this date onward in ISO 8601 format.
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        required: false
        description: Filter transcripts up to this date in ISO 8601 format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A paginated list of presidential transcript records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /policynote/v1/transcripts/{transcriptId}:
    get:
      operationId: getPresidentialTranscript
      summary: FiscalNote Get presidential transcript by ID
      description: Returns the full text and metadata of a specific presidential transcript, including the verified primary-source record of the communication.
      tags:
      - Presidential Transcripts
      parameters:
      - name: transcriptId
        in: path
        required: true
        description: The unique identifier of the transcript.
        schema:
          type: string
      responses:
        '200':
          description: Detailed presidential transcript record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcript'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Transcript not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    updatedSinceParam:
      name: updatedSince
      in: query
      required: false
      description: Return only records updated after this ISO 8601 datetime.
      schema:
        type: string
        format: date-time
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Transcript:
      type: object
      description: A presidential transcript record including the full text of executive orders, proclamations, press statements, and public remarks.
      properties:
        id:
          type: string
          description: Unique identifier for the transcript record.
        title:
          type: string
          description: Title of the transcript.
        type:
          type: string
          description: Type of presidential communication.
          enum:
          - executive_order
          - proclamation
          - press_statement
          - public_remarks
          - interview
          - formal_event
        date:
          type: string
          format: date
          description: Date of the communication.
        location:
          type: string
          description: Location where the communication took place.
        duration:
          type: string
          description: Duration of the communication in ISO 8601 duration format.
        wordCount:
          type: integer
          description: Total word count of the transcript.
        fullText:
          type: string
          description: Full text of the transcript.
        summary:
          type: string
          description: Summary of the transcript content.
        videoUrl:
          type: string
          format: uri
          description: URL to the video recording if available.
        sourceUrl:
          type: string
          format: uri
          description: URL to the primary source document.
        verified:
          type: boolean
          description: Indicates whether this transcript has been verified against the primary source.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: string
          description: Additional details about the error.
    TranscriptListResponse:
      type: object
      description: Paginated response containing a list of presidential transcript records.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transcript'
        pagination:
          $ref: '#/components/schemas/Pagination'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
