openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Regulations API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Regulations
  description: Access regulatory data including proposed and final rules across federal and state agencies.
paths:
  /policynote/v1/regulations:
    get:
      operationId: listRegulations
      summary: FiscalNote List regulations
      description: Returns a paginated list of regulatory records including proposed rules, final rules, and notices from federal and state regulatory agencies.
      tags:
      - Regulations
      parameters:
      - $ref: '#/components/parameters/jurisdictionParam'
      - $ref: '#/components/parameters/agencyParam'
      - $ref: '#/components/parameters/regulationStatusParam'
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/updatedSinceParam'
      responses:
        '200':
          description: A paginated list of regulation records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulationListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /policynote/v1/regulations/{regulationId}:
    get:
      operationId: getRegulation
      summary: FiscalNote Get regulation by ID
      description: Returns detailed information about a specific regulation including its full text, issuing agency, comment period, and current status.
      tags:
      - Regulations
      parameters:
      - name: regulationId
        in: path
        required: true
        description: The unique identifier of the regulation.
        schema:
          type: string
      responses:
        '200':
          description: Detailed regulation record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regulation'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Regulation not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    jurisdictionParam:
      name: jurisdiction
      in: query
      required: false
      description: Filter by jurisdiction code such as US, US-CA, GB, or EU.
      schema:
        type: string
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    updatedSinceParam:
      name: updatedSince
      in: query
      required: false
      description: Return only records updated after this ISO 8601 datetime.
      schema:
        type: string
        format: date-time
    agencyParam:
      name: agency
      in: query
      required: false
      description: Filter by issuing agency name or identifier.
      schema:
        type: string
    regulationStatusParam:
      name: status
      in: query
      required: false
      description: Filter by regulation status such as proposed, final, or withdrawn.
      schema:
        type: string
        enum:
        - proposed
        - comment_period
        - final
        - withdrawn
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Regulation:
      type: object
      description: A regulatory record including proposed rules, final rules, and notices from federal and state agencies.
      properties:
        id:
          type: string
          description: Unique identifier for the regulation record.
        title:
          type: string
          description: Title of the regulation.
        agency:
          type: string
          description: Name of the issuing agency.
        type:
          type: string
          description: Type of regulation such as proposed_rule, final_rule, or notice.
          enum:
          - proposed_rule
          - final_rule
          - notice
          - executive_order
        status:
          type: string
          description: Current status of the regulation.
        jurisdiction:
          type: string
          description: Jurisdiction code for the regulation.
        publishedDate:
          type: string
          format: date
          description: Date the regulation was published.
        effectiveDate:
          type: string
          format: date
          description: Date the regulation takes effect.
        commentPeriodEnd:
          type: string
          format: date
          description: End date of the public comment period.
        summary:
          type: string
          description: Summary text of the regulation.
        fullTextUrl:
          type: string
          format: uri
          description: URL to the full text of the regulation.
        url:
          type: string
          format: uri
          description: URL to the regulation record on the FiscalNote platform.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
    RegulationListResponse:
      type: object
      description: Paginated response containing a list of regulation records.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Regulation'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: string
          description: Additional details about the error.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
