openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Issues API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Issues
  description: Manage and retrieve organizational issues for tracking policy topics and legislative priorities.
paths:
  /appdata/v1/issues:
    get:
      operationId: listIssues
      summary: FiscalNote List issues
      description: Returns a paginated list of organizational issues used to track policy topics and legislative priorities within the FiscalNote platform.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of issue records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appdata/v1/issues/{issueId}:
    get:
      operationId: getIssue
      summary: FiscalNote Get issue by ID
      description: Returns detailed information about a specific organizational issue including associated bills and labels.
      tags:
      - Issues
      parameters:
      - name: issueId
        in: path
        required: true
        description: The unique identifier of the issue.
        schema:
          type: string
      responses:
        '200':
          description: Detailed issue record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Issue not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    IssueListResponse:
      type: object
      description: Paginated response containing a list of issues.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Issue:
      type: object
      description: An organizational issue used to track policy topics and legislative priorities.
      properties:
        id:
          type: string
          description: Unique identifier of the issue.
        name:
          type: string
          description: Name of the issue.
        description:
          type: string
          description: Description of the issue.
        billIds:
          type: array
          description: List of bill identifiers associated with this issue.
          items:
            type: string
        labelIds:
          type: array
          description: List of label identifiers applied to this issue.
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the issue was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the issue was last updated.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
