openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Organizations API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Organizations
  description: Access government organization records including agencies, departments, and independent bodies.
paths:
  /organization/v1/organizations:
    get:
      operationId: listOrganizations
      summary: FiscalNote List government organizations
      description: Returns a paginated list of government organizations including federal agencies, state agencies, legislative committees, and international governmental bodies.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/jurisdictionParam'
      - name: type
        in: query
        required: false
        description: Filter by organization type such as agency, committee, or department.
        schema:
          type: string
          enum:
          - agency
          - committee
          - department
          - commission
          - board
          - office
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/updatedSinceParam'
      responses:
        '200':
          description: A paginated list of organization records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/v1/organizations/{organizationId}:
    get:
      operationId: getOrganization
      summary: FiscalNote Get organization by ID
      description: Returns detailed information about a specific government organization including its mandate, leadership, and sub-organizations.
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        required: true
        description: The unique identifier of the organization.
        schema:
          type: string
      responses:
        '200':
          description: Detailed organization record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LeaderRef:
      type: object
      description: A reference to an organizational or committee leader.
      properties:
        officialId:
          type: string
          description: Unique identifier of the official.
        name:
          type: string
          description: Full name of the leader.
        title:
          type: string
          description: Title or role of the leader.
    OrganizationListResponse:
      type: object
      description: Paginated response containing a list of organizations.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Organization:
      type: object
      description: A government organization such as a federal agency, state agency, or governmental body.
      properties:
        id:
          type: string
          description: Unique identifier for the organization.
        name:
          type: string
          description: Official name of the organization.
        abbreviation:
          type: string
          description: Common abbreviation or acronym.
        type:
          type: string
          description: Type of organization.
          enum:
          - agency
          - committee
          - department
          - commission
          - board
          - office
        jurisdiction:
          type: string
          description: Jurisdiction the organization operates in.
        parentOrganizationId:
          type: string
          description: Identifier of the parent organization if applicable.
        description:
          type: string
          description: Description of the organization's mandate and purpose.
        website:
          type: string
          format: uri
          description: Official website of the organization.
        leadership:
          type: array
          description: Current leadership of the organization.
          items:
            $ref: '#/components/schemas/LeaderRef'
        url:
          type: string
          format: uri
          description: URL to the organization on the FiscalNote platform.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    jurisdictionParam:
      name: jurisdiction
      in: query
      required: false
      description: Filter by jurisdiction code such as US, US-CA, GB, or EU.
      schema:
        type: string
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    updatedSinceParam:
      name: updatedSince
      in: query
      required: false
      description: Return only records updated after this ISO 8601 datetime.
      schema:
        type: string
        format: date-time
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
