openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Regulatory Documents API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Regulatory Documents
  description: Access regulatory documents including proposed rules, final rules, and notices from government agencies.
paths:
  /appdata/v1/regulatory-documents:
    get:
      operationId: listRegulatoryDocuments
      summary: FiscalNote List regulatory documents
      description: Returns a paginated list of regulatory documents including proposed rules, final rules, and notices from government agencies.
      tags:
      - Regulatory Documents
      parameters:
      - $ref: '#/components/parameters/jurisdictionParam'
      - name: agency
        in: query
        required: false
        description: Filter by issuing agency name or identifier.
        schema:
          type: string
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/updatedSinceParam'
      responses:
        '200':
          description: A paginated list of regulatory document records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryDocumentListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appdata/v1/regulatory-documents/{documentId}:
    get:
      operationId: getRegulatoryDocument
      summary: FiscalNote Get regulatory document by ID
      description: Returns detailed information about a specific regulatory document including its full text, issuing agency, and comment period details.
      tags:
      - Regulatory Documents
      parameters:
      - name: documentId
        in: path
        required: true
        description: The unique identifier of the regulatory document.
        schema:
          type: string
      responses:
        '200':
          description: Detailed regulatory document record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryDocument'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Regulatory document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    jurisdictionParam:
      name: jurisdiction
      in: query
      required: false
      description: Filter by jurisdiction code such as US, US-CA, GB, or EU.
      schema:
        type: string
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    updatedSinceParam:
      name: updatedSince
      in: query
      required: false
      description: Return only records updated after this ISO 8601 datetime.
      schema:
        type: string
        format: date-time
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    RegulatoryDocumentListResponse:
      type: object
      description: Paginated response containing a list of regulatory documents.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryDocument'
        pagination:
          $ref: '#/components/schemas/Pagination'
    RegulatoryDocument:
      type: object
      description: A regulatory document such as a proposed rule, final rule, or notice from a government agency.
      properties:
        id:
          type: string
          description: Unique identifier of the regulatory document.
        title:
          type: string
          description: Title of the regulatory document.
        agency:
          type: string
          description: Name of the issuing agency.
        type:
          type: string
          description: Type of regulatory document.
          enum:
          - proposed_rule
          - final_rule
          - notice
        jurisdiction:
          type: string
          description: Jurisdiction code for the document.
        publishedDate:
          type: string
          format: date
          description: Date the document was published.
        effectiveDate:
          type: string
          format: date
          description: Date the regulation takes effect.
        commentPeriodEnd:
          type: string
          format: date
          description: End date of the public comment period.
        summary:
          type: string
          description: Summary of the regulatory document.
        url:
          type: string
          format: uri
          description: URL to the document on the FiscalNote platform.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
