openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Committees API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Committees
  description: Access legislative committee records including membership and jurisdiction information.
paths:
  /organization/v1/committees:
    get:
      operationId: listCommittees
      summary: FiscalNote List legislative committees
      description: Returns a paginated list of legislative committees from federal, state, and international legislatures including standing committees, select committees, and subcommittees.
      tags:
      - Committees
      parameters:
      - $ref: '#/components/parameters/jurisdictionParam'
      - name: chamber
        in: query
        required: false
        description: Filter by legislative chamber.
        schema:
          type: string
          enum:
          - senate
          - house
          - joint
      - name: committeeType
        in: query
        required: false
        description: Filter by committee type.
        schema:
          type: string
          enum:
          - standing
          - select
          - special
          - joint
          - subcommittee
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of committee records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/v1/committees/{committeeId}:
    get:
      operationId: getCommittee
      summary: FiscalNote Get committee by ID
      description: Returns detailed information about a specific legislative committee including its members, jurisdiction, and subcommittees.
      tags:
      - Committees
      parameters:
      - name: committeeId
        in: path
        required: true
        description: The unique identifier of the committee.
        schema:
          type: string
      responses:
        '200':
          description: Detailed committee record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Committee'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Committee not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/v1/committees/{committeeId}/members:
    get:
      operationId: listCommitteeMembers
      summary: FiscalNote List committee members
      description: Returns a paginated list of members serving on a specific legislative committee.
      tags:
      - Committees
      parameters:
      - name: committeeId
        in: path
        required: true
        description: The unique identifier of the committee.
        schema:
          type: string
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of committee member records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeMemberListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Committee not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LeaderRef:
      type: object
      description: A reference to an organizational or committee leader.
      properties:
        officialId:
          type: string
          description: Unique identifier of the official.
        name:
          type: string
          description: Full name of the leader.
        title:
          type: string
          description: Title or role of the leader.
    CommitteeMemberListResponse:
      type: object
      description: Paginated response containing a list of committee members.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommitteeMember'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Committee:
      type: object
      description: A legislative committee including standing, select, and special committees.
      properties:
        id:
          type: string
          description: Unique identifier for the committee.
        name:
          type: string
          description: Name of the committee.
        chamber:
          type: string
          description: Legislative chamber the committee belongs to.
          enum:
          - senate
          - house
          - joint
        type:
          type: string
          description: Type of committee.
          enum:
          - standing
          - select
          - special
          - joint
          - subcommittee
        jurisdiction:
          type: string
          description: Jurisdiction of the committee.
        parentCommitteeId:
          type: string
          description: Identifier of the parent committee for subcommittees.
        description:
          type: string
          description: Description of the committee's jurisdiction and purpose.
        website:
          type: string
          format: uri
          description: Official committee website.
        chair:
          $ref: '#/components/schemas/LeaderRef'
        rankingMember:
          $ref: '#/components/schemas/LeaderRef'
        memberCount:
          type: integer
          description: Number of members on the committee.
        url:
          type: string
          format: uri
          description: URL to the committee on the FiscalNote platform.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
    CommitteeMember:
      type: object
      description: A member of a legislative committee.
      properties:
        officialId:
          type: string
          description: Unique identifier of the official.
        name:
          type: string
          description: Full name of the member.
        party:
          type: string
          description: Political party affiliation.
        role:
          type: string
          description: Role on the committee.
          enum:
          - chair
          - vice_chair
          - ranking_member
          - member
        state:
          type: string
          description: State the member represents.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    CommitteeListResponse:
      type: object
      description: Paginated response containing a list of committees.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Committee'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    jurisdictionParam:
      name: jurisdiction
      in: query
      required: false
      description: Filter by jurisdiction code such as US, US-CA, GB, or EU.
      schema:
        type: string
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
