openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Policy Intelligence API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Policy Intelligence
  description: Access AI-powered policy analysis, impact summaries, and monitoring signals for policy changes.
paths:
  /policynote/v1/intelligence/impact:
    get:
      operationId: listPolicyImpactSummaries
      summary: FiscalNote List policy impact summaries
      description: Returns AI-powered, personalized impact summaries that analyze how policy changes may affect specific industries, organizations, or compliance requirements.
      tags:
      - Policy Intelligence
      parameters:
      - $ref: '#/components/parameters/jurisdictionParam'
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of policy impact summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactSummaryListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    jurisdictionParam:
      name: jurisdiction
      in: query
      required: false
      description: Filter by jurisdiction code such as US, US-CA, GB, or EU.
      schema:
        type: string
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    ImpactSummary:
      type: object
      description: An AI-powered impact summary analyzing how a policy change may affect specific industries, organizations, or compliance requirements.
      properties:
        id:
          type: string
          description: Unique identifier for the impact summary.
        policyId:
          type: string
          description: Identifier of the related legislation or regulation.
        policyTitle:
          type: string
          description: Title of the related legislation or regulation.
        jurisdiction:
          type: string
          description: Jurisdiction of the related policy.
        summary:
          type: string
          description: AI-generated summary of the policy impact.
        impactAreas:
          type: array
          description: Industries or areas affected by the policy.
          items:
            type: string
        severity:
          type: string
          description: Assessed severity of the policy impact.
          enum:
          - low
          - medium
          - high
          - critical
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the summary was generated.
    ImpactSummaryListResponse:
      type: object
      description: Paginated response containing a list of policy impact summaries.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImpactSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: string
          description: Additional details about the error.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
