openapi: 3.1.0
info:
  title: FiscalNote AppData Bills Labels API
  description: The FiscalNote AppData API provides access to FiscalNote's data on legislation and regulations, both past and present, in the United States and globally. It also exposes organizational data from the FiscalNote platform including issues and labels. Developers can use the API to integrate legislative tracking, regulatory monitoring, and policy analysis capabilities into their own applications and workflows.
  version: '1.0'
  contact:
    name: FiscalNote Support
    url: https://fiscalnote.com/contact
  termsOfService: https://fiscalnote.com/terms
servers:
- url: https://api.fiscalnote.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Labels
  description: Manage and retrieve labels used to categorize and organize legislation and policy items.
paths:
  /appdata/v1/labels:
    get:
      operationId: listLabels
      summary: FiscalNote List labels
      description: Returns a paginated list of labels used to categorize and organize legislation and policy items within the organization.
      tags:
      - Labels
      parameters:
      - $ref: '#/components/parameters/queryParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of label records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelListResponse'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appdata/v1/labels/{labelId}:
    get:
      operationId: getLabel
      summary: FiscalNote Get label by ID
      description: Returns detailed information about a specific label.
      tags:
      - Labels
      parameters:
      - name: labelId
        in: path
        required: true
        description: The unique identifier of the label.
        schema:
          type: string
      responses:
        '200':
          description: Detailed label record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Label not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    LabelListResponse:
      type: object
      description: Paginated response containing a list of labels.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of records matching the query.
        limit:
          type: integer
          description: Maximum number of records returned per page.
        offset:
          type: integer
          description: Number of records skipped.
        hasMore:
          type: boolean
          description: Indicates whether more records are available.
    Error:
      type: object
      description: Error response returned when a request fails.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
    Label:
      type: object
      description: A label used to categorize and organize legislation and policy items.
      properties:
        id:
          type: string
          description: Unique identifier of the label.
        name:
          type: string
          description: Name of the label.
        description:
          type: string
          description: Description of the label.
        color:
          type: string
          description: Color code for the label in hex format.
          pattern: ^#[0-9a-fA-F]{6}$
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the label was created.
  parameters:
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    queryParam:
      name: q
      in: query
      required: false
      description: Full-text search query to filter results.
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of results to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provided by FiscalNote. Include in the Authorization header of each request.
externalDocs:
  description: FiscalNote AppData API Documentation
  url: https://apidocs.fiscalnote.com/apis
